*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(56.1,0,100,0.7),rgba(56.1,0,100,0.7)),url(backgroundmusic.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .recomm-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 60%;
    background: rgba(255, 255, 255, 0.2);
    padding: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(240px);
    outline: auto
    
}

.recomm-box h2{
    font-size: 20px;
    transform: translateY(-40px);
    text-align: center;
}


.container .xai-box{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 50%);
    height: 60%;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(240px);
    outline: auto;
}

.xai-box h2{
    font-size: 20px;
    transform: translateY(40px);
    text-align: center;
}

.searchbar{
    width: 90%;
    height: 8vh;
    max-width: 700px;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    transform: translateY(-190px);
    outline: auto;
}

.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder{
    color: #cac7ff;
}

.searchbar button img{
    width: 25px;
}

.searchbar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
    outline: auto;
}